.Modal {
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  align-items: stretch;
  min-width: 600px;
  min-height: 400px;
  border-radius: 6px;
  box-shadow: 0 4px 16px 0px #0000004f;
}

.Modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid #ffffff;
  border-radius: 100%;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0 3px 4px -1px #0000009e;
  transform: translate(662px, -4px);
}

.Modal-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 40px;
  padding-left: 0.8rem;
  border: 1px solid #d4d4d4;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-weight: 600;
  font-size: 1.4rem;
  background-color: #ffffff;
}

.Modal-body {
  flex-grow: 1;
  /* padding: 0.7rem; */
  border-right: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
  font-weight: normal;
  background-color: #ffffff;
}

.Modal-footer {
  padding: 0.7rem;
  border: 1px solid #d4d4d4;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #ffffff;
}

.Modal-buttons {
}

.Modal-buttons > *:not(:last-child) {
  margin-right: 1rem;
}
