html {
  font-family: Roboto, sans-serif;
  font-size: 11pt;
}

body {
  margin: 0;
}

.waterfalls_link {
  background: url('/icons/waterfalls.png');
  background-repeat: no-repeat;
  padding-left: 70px !important;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}

.mountains_link {
  background: url('/icons/mountains.png');
  background-repeat: no-repeat;
  padding-left: 70px !important;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}

.rivers_link {
  background: url('/icons/rivers.png');
  background-repeat: no-repeat;
  padding-left: 70px !important;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}

.caves_link {
  background: url('/icons/caves.png');
  background-repeat: no-repeat;
  padding-left: 70px !important;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}

.towns_link {
  background: url('/icons/towns.png');
  background-repeat: no-repeat;
  padding-left: 70px !important;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}

.architecture_link {
  background: url('/icons/architecture.png');
  background-repeat: no-repeat;
  padding-left: 70px !important;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}

.mistika_link {
  background: url('/icons/mistika.png');
  background-repeat: no-repeat;
  padding-left: 70px !important;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}

.museums_link {
  background: url('/icons/museums.png');
  background-repeat: no-repeat;
  padding-left: 70px !important;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}

.monuments_link {
  background: url('/icons/monuments.png');
  background-repeat: no-repeat;
  padding-left: 70px !important;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}

.parks_link {
  background: url('/icons/parks.png');
  background-repeat: no-repeat;
  padding-left: 70px !important;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}

.carusel_link {
  background: url('/icons/carusel.png');
  background-repeat: no-repeat;
  padding-left: 70px !important;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}

.religions_link {
  background: url('/icons/religions.png');
  background-repeat: no-repeat;
  padding-left: 70px !important;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}

.mines_link {
  background: url('/icons/mines.png');
  background-repeat: no-repeat;
  padding-left: 70px !important;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}

.thermae_link {
  background: url('/icons/thermae.png');
  background-repeat: no-repeat;
  padding-left: 70px !important;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}

.remeslo_link {
  background: url('/icons/remeslo.png');
  background-repeat: no-repeat;
  padding-left: 70px !important;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}

.ethnos_link {
  background: url('/icons/ethnos.png');
  background-repeat: no-repeat;
  padding-left: 70px !important;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}

.event_link {
  background: url('/icons/event.png');
  background-repeat: no-repeat;
  padding-left: 70px !important;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}

.myth_link {
  background: url('/icons/myth.png');
  background-repeat: no-repeat;
  padding-left: 70px !important;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}

.hotel_link {
  background: url('/icons/hotel.png');
  background-repeat: no-repeat;
  padding-left: 70px !important;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}

.bio_link {
  background: url('/icons/bio.png');
  background-repeat: no-repeat;
  padding-left: 70px !important;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}

.restaurant_link {
  background: url('/icons/restaurant.png');
  background-repeat: no-repeat;
  padding-left: 70px !important;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}
