html {
  font-family: Roboto, sans-serif;
  font-size: 11pt;
}

body {
  --header-height: 40px;

  margin: 0;
}

#modals {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #00000059;
  backdrop-filter: blur(10px);
}
