.App.desktop {
  --drawer-width: 0px;
  --router-width: 0px;

  display: grid;

  grid-template-areas:
    'groups header router'
    'groups map router';

  grid-template-columns:
    var(--drawer-width) calc(100vw - var(--drawer-width) - var(--router-width))
    var(--router-width);
  grid-template-rows: var(--header-height) 1fr;
}

.App.desktop > .Drawer {
  display: none;
}

.App.desktop > .Router {
  display: flex;
}

.App.desktop.drawer {
  --drawer-width: var(--drawer-full-width);
}

.App.desktop.router {
  --router-width: var(--router-full-width);
}

.App.desktop.drawer > .Drawer {
  display: block;
}

.App.desktop.router > .Router {
  display: flex;
}
