.App {
  --drawer-width: 0px;
  --router-width: 0px;

  display: grid;
  width: 100vw;
  height: 100vh;

  grid-template-areas:
    'groups header router'
    'groups map router';

  grid-template-columns:
    var(--drawer-width) calc(100vw - var(--drawer-width) - var(--router-width))
    var(--router-width);
  grid-template-rows: var(--header-height) 1fr;
}

.App > .Drawer {
  display: none;
}

.App > .Router {
  display: flex;
}

.App.drawer {
  --drawer-width: 240px; /* Sync with src/components/Map/Map.tsx:70 */
}

.App.router {
  --router-width: 300px; /* Sync with src/components/Map/Map.tsx:73 */
}

.App.drawer > .Drawer {
  display: block;
}

.App.router > .Router {
  display: flex;
}
