.Spinner {
  display: flex;
  position: relative;
  top: calc(50% - 10px / 2);
  left: calc(50% - 25px / 2);
  flex-flow: row nowrap;
  padding: 0.3rem;
  width: 25px;
  height: 10px;
}

.Spinner-dot {
  width: 0.4rem;
  height: 0.4rem;
  background-color: #0074a0;
  animation: dot-spin 1.8s infinite ease-in-out;
  animation-fill-mode: both;
}

.Spinner-dot:not(:first-child) {
  margin-left: 0.28rem;
}

@keyframes dot-spin {
  0%,
  80%,
  100% {
    transform: scale(1.8);
  }
  40% {
    transform: scale(1);
  }
}
