.Header.mobile {
  justify-content: space-between;
  height: var(--header-height);
}

.Header-place.mobile {
}

.OpenGroups.mobile {
  margin-left: 20px;
  padding: 0.3rem 1rem;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 300;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  background: transparent;
}

.OpenGroups.mobile.opened {
  border: 1px solid transparent;
  color: #0274a0;
  background-color: #ffffff;
}

.OpenRouter.mobile {
  margin-right: 20px;
  padding: 0.3rem 1rem;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 300;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  background: transparent;
}

.OpenRouter.mobile.opened {
  border: 1px solid transparent;
  color: #0274a0;
  background-color: #ffffff;
}
