.Groups {
  grid-area: groups;
  overflow-y: scroll;
}

.Group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding-right: 0.3rem;
  color: #0274a0;
  text-decoration: none;
}

.Group:hover,
.Group.active {
  background-color: #0274a0;
  color: #ffffff;
}
