.Groups {}

.Groups-wrapper {
  overflow-y: scroll;
}

.Groups-list {
}

.Group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding-right: 0.3rem;
  padding-left: 70px;
  color: #0274a0;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-position-x: 10px;
  background-position-y: 50%;
}

a.Group:hover,
a.Group.active {
  color: #ffffff;
  background-color: #0274a0;
}

.Groups-search {
  display: flex;
  width: 100%;
  background-color: #ffffff;
}

.Groups-search:focus-within {
  
}

.Groups-search__input {
  box-sizing: border-box;
  width: 100%;
  border: none;
  font-size: 1.1rem;
}

.Groups-search__clear-btn {
  border: none;
  background: transparent;
  padding: 0.3rem;
}

.Groups-search__search-btn {
  border: 1px solid #ffffff;
  background: #0074a0;
  color: #ffffff;
  padding: 0.3rem;
}

.GroupSearchResult {
}

.GroupSearchResult-features {
}

.GroupSearchResult-feature {
  display: block;
  margin-bottom: 0.2rem;
  padding-left: 15px;
  color: #0274a5;
  text-decoration: none;
}

.GroupSearchResult-feature.active,
.GroupSearchResult-feature:hover {
  color: #ffffff;
  background-color: #0274a0;
}

.GroupsHeader {
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  background-color: #0274a0;
}
